
[package]
name = "dyne-solver-fno"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wasm-bindgen = "0.2"
console_error_panic_hook = "0.1"
dyne-core = { path = "../../dyne-core" }
rustfft = "6.1"
